.h1{
    text-align: center;
    color: #00b7ff;
}
body{
    background-color: rgb(0, 0, 0);
}
.p1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: solid;
    padding-top: 20px;
}
.navbar ul{
     list-style-type: none;
     background-color: rgb(77, 77, 77);
     padding: 0px;
     margin: 0px;
     overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
.p2{
    text-align: center;
    color: white;
}
.footer1{
    background-color: rgb(85, 85, 85);
}